- const humanResourceBlock = block || data.human_resources || {}
- const humanResourceItems = humanResourceBlock.items || []
if humanResourceItems.length > 0
  section(class='section-home-solution section-py')
    .container
      .text-center
        h2.heading-1.mb-base= humanResourceBlock.title || _('Giải pháp nhân sự')
    div(class='wrap px-base xl:rem:px-[100px]')
      div(class='grid grid-cols-1 md:grid-cols-3 lg:gap-6 gap-[16px]')
        each human_resource in humanResourceItems
          div(class='item-solution' setbackground=human_resource.photoUrl)
            div(class='flex flex-col gap-6 relative z-5 stretched-link')
              div(class='icon')
                img.lozad.undefined(data-src=humanResourceBlock.iconUrl, alt=human_resource.name)
              div(class='wrap-content flex flex-col gap-6')
                div(class='title')
                  a.stretched-link(href=human_resource.detailLink)!= human_resource.name
                div(class='content')
                  p= human_resource.description
            a.btn.btn-primary.mt-auto.z-5.relative(href=human_resource.detailLink)
              span= humanResourceBlock.button_text || _('Tìm hiểu thêm')
              div(class='icon')
