footer(class='section-py xl:rem:py-[60px] bg-neutral-800')
  .container
    .footer-top.flex.items-center.justify-between.mb-8.pb-8.border-b.border-neutral-500.text-white
      .footer-logo
        a(href='/')
          img(src=(headerLogo || '/img/logo.png'), alt=companyName.replace(/<[^>]*>/g, ' ') || 'HR2B Logo')
      div(class='footer-menu flex-1 xl:rem:mx-[63px] mx-5 -lg:hidden')
        if footerCategories && footerCategories.length > 0
          ul
            each category in footerCategories
              li
                a(href=(category.slug))= category.name
      div(class='footer-social -lg:hidden')
        ul
          each icon in ['youtube','facebook-f','linkedin-in','zalo','tiktok']
            li
              a(href='#')
                if icon === 'zalo'
                  img(src='/img/zalo.svg', alt='')
                else
                  i(class=`fa-brands fa-${icon}`)
      div(class='footer-certs flex items-center lg:gap-6 gap-base justify-end footer-mobile')
        .item-cert
          img.lozad.undefined(data-src='/img/1.png', alt='')
    div(class='footer-menu flex-1 xl:rem:mx-[63px] mx-5 lg:hidden footer-mobile')
      ul
        if footerCategories && footerCategories.length > 0
          each category in footerCategories
            li
              a(href=(category.slug ? `/category/${category.slug}` : '#'))= category.name
        else
          each item in ['Giải pháp','Giải pháp','Giải pháp','Giải pháp','Giải pháp','Giải pháp']
            li
              a(href='#')= item
    div(class='footer-bottom mb-base lg:mb-6')
      .row.gap-y-0.justify-between
        .col-lg-4
          .footer-address
            .footer-title.mb-3= company || 'HR2B'
            .footer-content
              p= address || ''
              ul
                if phone
                  li
                    a(href=`tel:${phone}`)
                      i.fa-light.fa-phone
                      p= phone
                if fax
                  li
                    a(href=`fax:${fax}`)
                      i.fa-light.fa-fax
                      p= fax  
        .col-lg-5
          .footer-form-wrap
            .footer-title.mb-6= sub_title || ''
            .footer-form
              input(type='text', placeholder= sub_text || '')
              button
                i.fa-solid.fa-send
    div(class='footer-certs flex items-center lg:gap-6 gap-base justify-end -lg:hidden mb-base lg:mb-0')
      .item-cert
        img.lozad.undefined(data-src='/img/1.png', alt='')
    .footer-copyright.flex.items-end.justify-between.flex-wrap.gap-y-5
      .content
        p= copyright
        p.text-neutral-500 Thiết kế web bởi Cánh Cam.
      .footer-social.footer-mobile
        ul
          each icon in ['youtube','facebook-f','linkedin-in','zalo','tiktok']
            li
              a(href='#')
                if icon === 'zalo'
                  img(src='/img/zalo.svg', alt='')
                else
                  i(class=`fa-brands fa-${icon}`)
      div(class='copyright-link -lg:w-full')
        if bottomCategories && bottomCategories.length > 0
          ul(class='flex items-center -lg:justify-between w-full lg:gap-4')
            each category in bottomCategories
              li
                a(href=category.slug)= category.name