extends ../layouts/home

block content
  main
    .main-wrapper
      section.section-home-banner.overflow-hidden
        .item-banner.relative
          div(class='img md:img-ratio md:ratio:pt-[960_1920] h-[100dvh] md:h-auto')
            video(src=data.videoUrl, autoplay='', muted='', loop='', playsinline='')
          div(class='wrap-content container absolute bottom-0 h-full left-0 md:absolute-center text-white flex items-end pb-20 md:pb-0 md:items-center justify-between z-10')
            div(class='box-content flex flex-col lg:gap-5 gap-3')
              h2(class='xl:rem:text-[72px] lg:text-[58px] text-[32px] !font-semibold font-secondary mb-0 leading-tight')= _('Tuyển Dụng Nhân Sự Cấp Cao')
              h3(class='title-32 !font-semibold mb-5')= data.videoTitle
              a.btn.btn-primary.style-white(href=data.videoButtonLink)
                span= data.videoButtonText || _('Tìm hiểu thêm')
                .icon
            a.box-play-video(href='https://www.youtube.com/watch?v=dQw4w9WgXcQ', data-fancybox='')
              i.fa-solid.fa-play
      - const blocks = Array.isArray(data.blocks) ? data.blocks : []
      if blocks.length > 0
        each block in blocks
          case block.__component
            when 'homepage.about'
              include ./blocks/about.pug
            when 'homepage.giai-phap-nhan-su'
              include ./blocks/human-resources.pug
            when 'homepage.tin-tuc'
              include ./blocks/posts.pug
            when 'homepage.su-kien'
              include ./blocks/events.pug
            when 'shares.thanh-tuu'
              include ./../shared/achievements.pug
            when 'shares.video'
              include ./../shared/videos.pug
            when 'shares.khach-hang'
              include ./../shared/customer.pug
            when 'shares.cam-nhan-khach-hang'
              include ./../shared/feedback.pug
            when 'shares.doi-tac'
              include ./../shared/partner.pug

      
