section(class='section-contact-form section-py-min bg-neutral-50')
  div(class='container')
    div(class='popup-style-general')
      div(class='popup-title -md:!text-[32px]')
        = _('Thông tin liên hệ')
      div(class='popup-content')
        form(class='form-contact form-style-general', method='post', action='/contact/submit')
          input(type='hidden', name='source', value='about_page_block')
          div(class='form-group mb-2')
            input(type='text', name='fullname', placeholder=_('Họ và tên'), required='')
          div(class='form-group mb-2')
            input(type='text', name='company', placeholder=_('Tên công ty'))
          div(class='form-group mb-2')
            input(type='tel', name='phone', placeholder=_('Số điện thoại'), required='')
          div(class='form-group mb-2')
            input(type='email', name='email', placeholder=_('Email công việc'), required='')
          div(class='form-group mb-2 col-span-form')
            textarea(name='requirements', rows='4', placeholder=_('Hãy để chúng tôi hiểu hơn về nhu cầu..'))
          div(class='form-group mb-2 col-span-form')
            div(class='form-checkbox term')
              label
                input(type='checkbox', name='agree-terms', required='')
                p
                  = _('Tôi đồng ý với ')
                  a(href=(termsLink || '#'))
                    = _('Điều khoản sử dụng')
                  = _(' và ')
                  a(href=(privacyLink || '#'))
                    = _('Chính sách bảo mật')
                  = _(' của HR2B.')
          div(class='flex-center col-span-form')
            button(class='btn btn-primary', type='submit')
              span
                = _('Gửi ngay')
              div(class='icon custom-icon')
                i(class='fa-light fa-send')
